---
import Post from "../../../layouts/PostEn.astro";
import jsonData from "../../../storage/projects-en.json";
import Slider from "../../../components/Slider";


const pages = jsonData;
const { slug } = Astro.params;
const page = pages.find((page) => page.slug === slug);
if (!page)
    return Astro.redirect("/404");
const { title, description, image, about, techSpecs, website, screens, tech } = page;
---

<Post
    title="Francisco Lencina : Project"
    description={description}
    image={image}
>
    <h1
        class="text-center font-bold text-6xl pt-12 text-[#3450A2] dark:text-[#3450A2]"
    >
        {title}
    </h1>
    <Slider screens={screens} client:load />

    <div class="flex mx-auto max-w-2xl justify-between items-center px-5">
        <a
            class="flex gap-4 mt-4 py-2 rounded font-medium text-lg text-black dark:text-white hover:translate-x-[-8px] transition-all duration-200 dark:hover:translate-x-[-8px] opacity-80 hover:opacity-100"
            href="/"
        >
            <i class="ri-arrow-left-line"></i> Home</a
        >

        <a
            class="flex gap-2 mt-4 px-5 py-2 font-medium text-black text-[var(--blue-dark)] rounded-md transition-all duration-200 opacity-70 hover:translate-x-[8px] hover:opacity-100 dark:text-white"
            href={website}
            target="__blank"
        >
            <i class="ri-movie-line dark:text-white"></i>
            <span
                class="inline-block h-[2] min-h-[1em] w-0.5 self-stretch bg-[var(--blue-dark)]"
            >
            </span> Demo
        </a>
    </div>

    <section class="p-10 mx-auto max-w-3xl">
        <h2
            class="text-start font-bold text-4xl text-[#3450A2] dark:text-[#3450A2]"
        >
            About the project
        </h2>
        <p
            class="text-start p-6 text-xl sm:text-2xl dark:text-white opacity-80"
        >
            {about}
        </p>
    </section>
    <section class="p-10 mx-auto max-w-3xl text-start">
        <!--  <Titles title="Tecnologias"/> -->
        <h2
            class="text-start font-bold text-4xl text-[#3450A2] dark:text-[#3450A2]"
        >
        Technologies
        </h2>
        <p
            class="text-start text-xl sm:text-2xl dark:text-white p-6 opacity-80"
        >
            {techSpecs}
        </p>
    </section>
    <section class="flex justify-center items-center gap-6 pt-8 pb-12">
        {
            tech.map((url) => (
                <img
                    class="mt-8 mx-2 h-12"
                    src={url}
                    alt="Technology used"
                />
            ))
        }
    </section>
</Post>
<style>
    p {
        font-family: Matter, ui-sans-serif, system-ui, -apple-system,
            BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
            Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
            Segoe UI Symbol, Noto Color Emoji;
    }
</style>
