---
import Frameworks from "../../storage/frameworks.json";
import Languages from "../../storage/languages.json";
import SkillsImgs from "../../components/SkillsImgs";
const { texts } = Astro.props;
---

<div class="flex flex-col gap-12">
  <article class="flex flex-col items-center gap-12 my-24">
    <header class="text-center dark:text-white">
      <h3 class="font-extrabold opacity-70 text-2xl sm:text-4xl">{texts.languages}</h3>
      <p class="text-lg max-w-md mt-4 opacity-70">
        {texts.about_languages}
      </p>
    </header>
    <main class="m-5">
      <ul
        class="max-w-2xl justify-items-center items-center grid gap-12 grid-cols-2 md:gap-6 md:grid-cols-6"
      >
        {
          Languages.map((item) => (
            <li class="inline-block">
              <div>
                <SkillsImgs name={item.name} image={item.image} client:load />
              </div>
            </li>
          ))
        }
      </ul>
    </main>
  </article>
  <article class="flex flex-col items-center gap-12 mb-24">
    <header class="text-center dark:text-white">
      <h3 class="font-extrabold opacity-70 text-2xl sm:text-4xl">{texts.frameworks}</h3>
      <p class="text-lg max-w-md mt-4 opacity-70">
        {texts.about_frameworks}
      </p>
    </header>
    <main class="m-5 h-auto">
      <ul
        class="max-w-2xl grid grid-flow-dense justify-items-center items-center gap-12 md:gap-6 grid-cols-2 md:grid-cols-6"
      >
        {
          Frameworks.map((item) => (
            <li class="inline-block">
              <SkillsImgs name={item.name} image={item.image} client:load />
            </li>
          ))
        }
      </ul>
    </main>
  </article>
</div>

<style>
  img {
    width: 72px;
  }
  p {
    font-family: monospace;
  }
</style>
