---
import Html from "../assets/imgs/html-logo.png";
import Css from "../assets/imgs/css-logo.png";
import JavaScript from "../assets/imgs/javascript-logo.png";
import NodeJs from "../assets/imgs/nodejs-logo.png";
import MongoDb from "../assets/imgs/mongodb-logo.png";

import ReactJs from "../assets/imgs/reactjs-logo.png";
import TailwindCss from "../assets/imgs/tailwindcss-logo.png";
import Bootstrap from "../assets/imgs/bootstrap-logo.png";
import Express from "../assets/imgs/express-logo.png";
import ViteJs from "../assets/imgs/vitejs-logo.png";
import AstroJs from "../assets/imgs/astrojs.svg";
import Docusaurus from "../assets/imgs/docusaurus-logo.png";
---

<div class="flex flex-col gap-12 ">
    <div class="flex flex-col items-center gap-12 my-24 ">
        <div class="text-center dark:text-white">
            <h3 class="font-extrabold opacity-70 text-2xl sm:text-4xl">
                Lenguajes
            </h3>
            <p class="text-lg max-w-md mt-4 opacity-70">
                Lenguajes y tecnologias de las cuales tengo conocimiento.
            </p>
        </div>
        <div class="m-5">
            <ul class="">
                <li
                    class="flex flex-col w-16 justify-center items-center gap-4 md:flex-row md:w-full md:gap-8 md:h-20 cursor-pointer"
                >
                    <img
                        class="hover:scale-105 duration-300"
                        src={Html}
                        alt=""
                        srcset=""
                    />
                    <img
                        class="hover:scale-105 duration-300"
                        src={Css}
                        alt=""
                        srcset=""
                    />
                    <img
                        class="hover:scale-105 duration-300"
                        src={JavaScript}
                        alt=""
                        srcset=""
                    />
                    <img
                        class="hover:scale-105 duration-300"
                        src={ReactJs}
                        alt=""
                        srcset=""
                    />
                    <img
                        class="hover:scale-105 duration-300"
                        src={NodeJs}
                        alt=""
                        srcset=""
                    />
                    <img
                        class="hover:scale-105 duration-300"
                        src={MongoDb}
                        alt=""
                        srcset=""
                    />
                </li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col items-center gap-12 mb-24 ">
        <div class="text-center dark:text-white">
            <h3 class="font-extrabold opacity-70 text-2xl sm:text-4xl">
                Frameworks
            </h3>
            <p class="text-lg max-w-md mt-4 opacity-70">
                Frameworks y herramientas de las cuales tengo conocimiento y
                utilizo.
            </p>
        </div>
        <div class="m-5 h-auto">
            <ul class="max-w-2xl">
                <li
                    class="flex flex-col w-16 justify-center items-center gap-4 md:flex-row md:w-full md:gap-8 "
                >
                    <img
                        class="hover:scale-105 duration-300"
                        src={TailwindCss}
                        alt=""
                        srcset=""
                    />
                    <img
                        class="hover:scale-105 duration-300"
                        src={Bootstrap}
                        alt=""
                        srcset=""
                    />
                    <img
                        class="hover:scale-105 duration-300"
                        src={Express}
                        alt=""
                        srcset=""
                    />
                    <img
                        class="hover:scale-105 duration-300"
                        src={AstroJs}
                        alt=""
                        srcset=""
                    />
                    <img
                        class="hover:scale-105 duration-300"
                        src={Docusaurus}
                        alt=""
                        srcset=""
                    />
                    <img
                        class="hover:scale-105 duration-300"
                        src={ViteJs}
                        alt=""
                        srcset=""
                    />
                </li>
            </ul>
        </div>
    </div>
</div>
<style>
    p {
        font-family: monospace;
    }

    img {
        height: 72px;
        cursor: pointer;
    }

    @media (max-width: 767px) {
        img {
            width: fit-content;
            height: 64px;
        }
    }
</style>
