---
import Tooltip from "../components/Tooltip";
import Layout from "../layouts/Layout.astro";

import Frameworks from "../storage/frameworks.json";
import Languages from "../storage/languages.json";

import { getCollection } from "astro:content";
const projectsEntries = await getCollection("projects");
---

<Layout title="Francisco Lencina : Portfolio">
  <main class="w-full m-0">
    <!-- PROFILE SECTION -->
    <section class="flex justify-between w-full p-6 mx-auto" id="Profile">
      <div
        class="flex flex-col-reverse sm:flex-row items-center justify-between gap-8 max-w-[830px] mx-auto mt-6 md:mt-48"
      >
        <div class="max-w-md">
          <div class="flex flex-col">
            <span class="font-regular text-[#444444] dark:text-white text-xl">
              hola amig@ 游녦
            </span>
            <h1 class="ml-4 font-bold text-4xl text-black dark:text-white">
              Soy Francisco
            </h1>
            <p
              class="text-start text-black dark:text-white text-md sm:text-lg font-regular opacity-60 mt-4"
            >
              Tengo 21 a침os, vivo en Uruguay y soy Desarrollador de Software. Soy
              autodidacta, apasionado por la tecnolog칤a y por c칩mo est치
              desarrollada. Actualmente estoy estudiando Tecn칩logo en
              Inform치tica.
            </p>
          </div>
          <div
            class="flex justify-center items-center sm:justify-start gap-4 ml-4 my-5"
          >
            <a
              download
              target="_blank"
              href="/francisco-lencina-curriculum.pdf"
              aria-label="Descargar CV"
              class="px-4 py-2 text-white text-opacity-90 font-semibold border border-[#737373] rounded-lg bg-gradient-to-t from-[#0B0B0B] to-[#212121] hover:ring-2 ring-stone-700 dark:ring-stone-500"
              >Descargar CV</a
            >
            <div
              class="flex text-black dark:text-white opacity-50 justify-center items-center gap-2 text-2xl"
            >
              <a
                class="opacity-50 hover:opacity-100"
                aria-label="Github Link"
                href="https://github.com/frannlencina"
                target="_blank"><i class="ri-github-line"></i></a
              >
              <a
                class="opacity-50 hover:opacity-100"
                aria-label="Twitter/X Link"
                href="https://twitter.com/franlencinaa"
                target="_blank"><i class="ri-twitter-line"></i></a
              >
              <a
                class="opacity-50 hover:opacity-100"
                aria-label="Gmail Link"
                href="mailto:franciscolencinap@gmail.com"
                ><i class="ri-mail-star-line"></i></a
              >
            </div>
          </div>
        </div>
        <div>
          <img src="/yo-imagen.webp" alt="Imagen de Francisco Lencina" />
        </div>
      </div>
    </section>

    <!-- FEATURED PROJECT SECTION -->
    <section class="w-full p-6 dark:bg-[#181818] mt-32">
      <section class="max-w-[830px] mx-auto" id="FeaturedProject">
        <h2 class="text-xl text-black dark:text-white mb-8 pt-12">
          Proyecto Destacado 
        </h2>
        <div class="flex flex-col gap-5">
 {
          projectsEntries
            .filter((project) => project.data.important === true)
            .map((item) => (
              <article
                class="spotlight-card group relative w-full  text-black dark:text-white border border-[#C2C2C2] dark:border-[#3A3A3A] bg-[#F3F3F3] dark:bg-[#242424] rounded-2xl overflow-hidden hover:shadow-xl transition-all duration-300 hover:scale-[1.01]"
              >
                <div class="spotlight-overlay pointer-events-none absolute -inset-px opacity-0 transition duration-300 z-10"></div>

                <div class="absolute group-hover:bg-green-600 group-hover:text-white transition-all duration-200 top-0 right-0 bg-black dark:bg-white text-white dark:text-black text-xs font-bold px-3 py-1 rounded-bl-xl z-20">
                  LATEST
                </div>

                <a
                  href={`/projects/${item.slug}`}
                  aria-label={`Leer mas sobre ${item.data.title}`}
                  class="block p-6 sm:p-8 relative z-20"
                >
                  <div class="flex flex-col gap-4">
                    <div class="flex justify-between items-start">
                      <div>
                        <h3 class="text-xl sm:text-3xl font-bold mb-2   transition-colors">
                          {item.data.title}
                        </h3>
                      </div>

                      <div class="p-2 rounded-full transition-colors text-xl0">
                        <i class="ri-arrow-right-line text-xl opacity-70 group-hover:opacity-100 transition-all " />
                      </div>
                    </div>

                    <div>
                      <span class="grid grid-cols-2 max-w-[400px] flex-wrap sm:flex gap-2 font-medium px-3 py-1 items-start">
                        {item.data.technologies?.map((tech) => (
                          <span class="mr-1 w-fit text-xs bg-black/10 dark:text-white rounded-full dark:bg-white/20 px-2.5 py-1.5">
                            {tech}
                          </span>
                        ))}
                      </span>
                    </div>

                    <p class="text-md opacity-70 group-hover:opacity-100 transition-opacity max-w-2xl ">
                      {item.data.description}
                    </p>

                    <div class="mt-4 w-full h-48 sm:h-64 bg-gradient-to-br from-neutral-200 to-neutral-300 dark:from-neutral-800 dark:to-neutral-900 rounded-xl border border-black/5 dark:border-white/5 flex items-center justify-center overflow-hidden group-hover:border-green-500/40 transition-colors">
                      <img
                        src={item.data.image}
                        class="w-full h-full object-cover object-center"
                      />
                    </div>
                  </div>
                </a>
              </article>
            ))
        }
        </div>
       
      </section>
    </section>

    <!-- PROJECTS GRID -->
    <section class="bg-[#E2E2E2] dark:bg-[#181818] w-full p-6">
      <section
        class="max-w-[830px] mt-56 mx-auto relative -top-28"
        id="Proyectos"
      >
        <h2 class="text-black dark:text-white font-medium text-xl">
          Proyectos
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-8">
          {
            projectsEntries.map((item) => (
              <article
                class="spotlight-card group relative flex text-black dark:text-white border border-[#C2C2C2] dark:border-[#3A3A3A] dark:hover:border-[#585858] hover:scale-[1.01] bg-[#F3F3F3] dark:bg-[#242424] px-6 py-4 rounded-xl cursor-pointer transition-all duration-200 overflow-hidden"
              >
                <!-- SPOTLIGHT OVERLAY -->
                <div class="spotlight-overlay pointer-events-none absolute -inset-px opacity-0 transition duration-300 z-10"></div>

                <a
                  href={`/projects/${item.slug}`}
                  aria-label={`Leer mas sobre ${item.data.title}`}
                  class="relative z-20"
                >
                  <div class="flex flex-col gap-2">
                    <h5 class="text-lg font-bold opacity-70 group-hover:opacity-100 transition-all duration-200">
                      {item.data.title}
                    </h5>
                    <div class="flex justify-between items-start text-black dark:text-white overflow-hidden max-h-[75px]">
                      <div class="max-w-[90%]">
                        <p class="opacity-50 group-hover:opacity-100 transition-all duration-200 text-start align-start">
                          {item.data.description}
                        </p>
                      </div>

                      <div class="flex justify-end items-end text-start mt-12">
                        <i class="ri-arrow-right-line opacity-70" />
                      </div>
                    </div>
                  </div>
                </a>
              </article>
            ))
          }
        </div>
      </section>

      <!-- SKILLS -->
      <section class="max-w-[830px] mx-auto" id="Skills">
        <div>
          <h2 class="text-black dark:text-white font-medium text-xl">Stack</h2>
          <div
            class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-6 sm:gap-4 mt-8 pb-32 items-center"
          >
            {
              Languages.map((item) => (
                <div class="group flex flex-col items-center justify-center">
                  <div class="group-hover:opacity-100 opacity-0 transition-all duration-100">
                    <Tooltip text={item.name} />
                  </div>
                  <div class="max-w-14 hover:scale-125">
                    <img
                      width="50px"
                      height="50px"
                      class="w-full h-auto rounded-xl"
                      src={item.image}
                      alt={`Logo de ${item.name}`}
                    />
                  </div>
                </div>
              ))
            }
          </div>
        </div>

        <div>
          <h2 class="text-black dark:text-white font-medium text-xl">
            Herramientas
          </h2>
          <div
            class="grid grid-cols-2 sm:grid-cols-4 sm:gap-4 lg:grid-cols-6 mt-8 pb-32 mx-auto items-center"
          >
            {
              Frameworks.map((item) => (
                <div class="group flex flex-col items-center justify-center">
                  <div class="group-hover:opacity-100 opacity-0 transition-all duration-100">
                    <Tooltip text={item.name} />
                  </div>
                  <div class="max-w-14 hover:scale-125">
                    <img
                      width="50px"
                      height="50px"
                      class="w-full h-auto rounded-xl"
                      src={item.image}
                      alt={`Logo de ${item.name}`}
                    />
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </section>
    </section>
  </main>
</Layout>

<style>
  .spotlight-overlay {
    background: radial-gradient(
      600px circle at var(--mouse-x, 0) var(--mouse-y, 0),
      rgba(185, 185, 185, 0.402),
      transparent 40%
    );
  }

  :global(.dark) .spotlight-overlay {
    background: radial-gradient(
      600px circle at var(--mouse-x, 0) var(--mouse-y, 0),
      rgba(230, 230, 230, 0.289),
      transparent 40%
    );
  }
</style>

<script is:inline>
  const cards = document.querySelectorAll(".spotlight-card");

  cards.forEach((card) => {
    const overlay = card.querySelector(".spotlight-overlay");

    card.addEventListener("mousemove", (e) => {
      const rect = card.getBoundingClientRect();
      const x = e.clientX - rect.left;
      const y = e.clientY - rect.top;

      card.style.setProperty("--mouse-x", `${x}px`);
      card.style.setProperty("--mouse-y", `${y}px`);

      overlay.style.opacity = "1";
    });

    card.addEventListener("mouseleave", () => {
      overlay.style.opacity = "0";
    });
  });
</script>
