---
import Post from "../../layouts/Post.astro";

import jsonData from "../../storage/projects.json";

const pages = jsonData;

const { slug } = Astro.params;
const page = pages.find((page) => page.slug === slug);
if (!page) return Astro.redirect("/404");
const { title, description, image, about, techSpecs, website, tech1, tech2, tech3, tech4 } = page;
---

<Post title="Francisco Lencina : Portfolio">
    <div class="">
        <h1 class="text-center font-bold text-6xl pt-12">{title}</h1>
        <img class="mx-auto rounded-lg w-5/6 mt-8" src={image} alt="Imgen del proyecto" />
        <div class="flex justify-center items-center">
        <a class="mt-4 px-3 py-2 rounded font-medium text-white bg-[var(--blue)] dark:text-[var(--blue-pastel)] dark:bg-[var(--blue-dark)] dark:hover:bg-[var(--blue)] dark:hover:text-white hover:text-[var(--blue-pastel)] hover:bg-[var(--blue-dark)] hover:px-6 transition-all duration-200" href={website} target="__blank" >Ver Demo</a>
    </div>
    </div>
    <div class="p-10 mx-auto max-w-2xl">
        <h2 class="text-center font-bold text-4xl">Sobre el Proyecto</h2>
        <p class="text-center p-6">{about}</p>
    </div>
    <div class="p-10 mx-auto max-w-2xl">
        <h2 class="text-center font-bold text-4xl ">
            Tecnologias
        </h2>
        <p class="text-center p-6">{techSpecs}</p>
    </div>
    <div class="flex justify-center items-center gap-6 pt-8 pb-12">
        <img class="flex w-12 h-full" src={tech1} alt="">
        <img class="flex w-12 h-full" src={tech2} alt="">
        <img class="flex w-12 h-full" src={tech3} alt="">
        <img class="flex w-12 h-full" src={tech4} alt="">
    </div>
</Post>
<style>
    p{
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
</style>
