---
import Post from "../../layouts/Post.astro";

import jsonData from "../../storage/projects.json";

const pages = [
    {
        slug: undefined,
        title: "Astro Store",
        text: "Welcome to the Astro store!",
    },
    {
        slug: "SafePvP",
        title: `${jsonData[1].title}`,
        description: `${jsonData[1].description}`,
        image: `${jsonData[1].image}`,
        about: `${jsonData[0].about}`,
        techSpecs: `${jsonData[0].techSpecs}`,
        tech1: `${jsonData[0].tech1}`,
        tech2: `${jsonData[0].tech2}`,
        tech3: `${jsonData[0].tech3}`,
        tech4: `${jsonData[0].tech4}`,
    },
    {
        slug: "Keyswh",
        title: `${jsonData[0].title}`,
        description: `${jsonData[0].description}`,
        image: `${jsonData[0].image}`,
        about: `${jsonData[0].about}`,
        techSpecs: `${jsonData[0].techSpecs}`,
        tech1: `${jsonData[0].tech1}`,
        tech2: `${jsonData[0].tech2}`,
        tech3: `${jsonData[0].tech3}`,
        tech4: `${jsonData[0].tech4}`,
    },
];

const { slug } = Astro.params;
const page = pages.find((page) => page.slug === slug);
if (!page) return Astro.redirect("/404");
const { title, description, image, about, techSpecs, tech1, tech2, tech3, tech4 } = page;
---

<Post title="Francisco Lencina : Portfolio">
    <div class="">
        <h1 class="text-center font-bold text-6xl pt-12">{title}</h1>
        <img class="mx-auto rounded-lg w-5/6 mt-8" src={image} alt="Imgen del proyecto" />
    </div>
    <div class="p-10 mx-auto max-w-2xl">
        <h2 class="text-center font-bold text-4xl">About the Project</h2>
        <p class="text-center">{about}</p>
    </div>
    <div class="p-10 mx-auto max-w-2xl">
        <h2 class="text-center font-bold text-4xl">
            Technology Specifications
        </h2>
        <p class="text-center">{techSpecs}</p>
    </div>
    <div class="flex justify-center items-center gap-6 pt-8 pb-12">
        <img class="flex w-12 h-full" src={tech1} alt="">
        <img class="flex w-12 h-full" src={tech2} alt="">
        <img class="flex w-12 h-full" src={tech3} alt="">
        <img class="flex w-12 h-full" src={tech4} alt="">
    </div>
</Post>
<style>
    p{
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
</style>
