---
import Layout from "./Layout.astro";

import { BackToHBtn } from "../components/BackToHBtn";

const { frontmatter } = Astro.props;
const { author, authorImage, title, description, date, read, image, website } =
	frontmatter;
---
<Layout title=`Proyecto ${title}`>
	<div class="duration-300 bg-[#E2E2E2] dark:bg-[#181818]">
		<div class="container max-w-3xl mx-auto h-fit p-6">
			<section class="mt-24 mb-12 text-black dark:text-white">
				<div
					class="flex flex-col sm:flex-row mx-auto max-w-2xl justify-between items-center px-5 pb-24"
				>
					<BackToHBtn client:load text="Volver" website="/" />
					<a
						class="flex gap-2 mt-4 px-5 py-2 font-medium text-black text-[var(--blue-dark)] rounded-md transition-all duration-200 opacity-50 hover:opacity-100 dark:text-white"
						href={website}
						target="_blank"
						arial-label=`Visitar pagina de ${title} `
					>
						<i class="ri-movie-line text-black dark:text-white"></i>
						<span
							class="inline-block h-[2] min-h-[1em] w-0.5 self-stretch bg-[var(--blue-dark)]"
						>
						</span> Ver pagina
					</a>
				</div>
				<div class="flex items-center gap-2 dark:text-white">
					<div>
						<img
							class="w-10 rounded-full"
							src={authorImage}
							alt="Imagen sobre el autor del proyecto"
						/>
					</div>
					<div class="flex flex-col">
						<span class="font-regular opacity-50 relative top-1"
							>20y</span
						>
						<span class="font-bold opacity-85"
							>Francisco Lencina</span
						>
					</div>
				</div>
				<span class="font-light opacity-30 dark:text-white">{date} • {read}</span>
			</section>
			<!-- Slug page render -->
			<slot />
		</div> 
	</div>
</Layout>